.slider-course{
    grid-area: slider-course;
    width: 80%;
    &__card{
       box-shadow: 0 0 10px #000;
       border-radius: 15px;
       padding: 10px;
       font-family: 'PT Sans', sans-serif;
       font-weight: 400;
       background: #fff;
       margin: 10px;
       &:focus{
           outline: none;
       }
    
       &__header,
       .name,
       &__footer{
           display: flex;
           justify-content: space-between;
           align-items: center;
       }
       &__header{
           margin-bottom: 40px;
           .total{
               align-self: flex-start;
               position: relative;

               &::after{
                   content: '';
                   position: absolute;
                   width: 15px;
                   height: 15px;
                   background-image: url(../img/calc/coins.png);
                   background-repeat: no-repeat;
                   background-size: contain;
                   left: -15px;
                   top: 50%;
                   transform: translateY(-50%);
               }
           }
       }
       &__footer{
           &__course{
               color: #EB6103;
               font-size: 20px;
           }
           &__percent{
               text-align: right;
               font-size: 14px;
           }
       }
       .name{
           &__img{
               margin-right: 15px;
           }
           &__title{
               font-weight: 700;
               font-size: 18px;
           }
       }
    }
}

.slick-arrow{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 0;
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 40%;
    cursor: pointer;
}

.slick-prev{
    background-image: url(../img/arrow/left.png);
    left: -20px;
}
.slick-next{
    background-image: url(../img/arrow/right.png);
    right: -30px;
}

/*
 * Variables
 */

 :root {  
    --card-padding: 20px;
    --card-height: 130px;
    --card-skeleton: linear-gradient(white var(--card-height), transparent 0);
    
    --avatar-size: 32px;
    --avatar-position: var(--card-padding) var(--card-padding);
    --avatar-skeleton: radial-gradient(circle 16px at center, lightgrey 99%, transparent 0
    );
    
    --title-height: 32px;
    --title-width: 200px;
    --title-position: var(--card-padding) 180px;
    --title-skeleton: linear-gradient(white var(--title-height), transparent 0);
    
    --desc-line-height: 16px;
    --desc-line-skeleton: linear-gradient(lightgrey var(--desc-line-height), transparent 0);
    --desc-line-1-width:230px;
    --desc-line-1-position: var(--card-padding) 60px;
    --desc-line-2-width:180px;
    --desc-line-2-position: var(--card-padding) 80px;
    
    --footer-height: 0px;
    --footer-position: 0 calc(var(--card-height) - var(--footer-height));
    --footer-skeleton: linear-gradient(white var(--footer-height), transparent 0);
    
    --blur-width: 200px;
    --blur-size: var(--blur-width) calc(var(--card-height) - var(--footer-height));
  }
  
  /*
   * Card Skeleton for Loading
   */
  
  .card-loader {
    width: 100%; //demo
    height: var(--card-height);
    
    &:empty::after {
      content:"";
      display:block;
      width: 100%;
      height: 150px;
      border-radius:6px;
  
      background-image:
        linear-gradient(
          90deg, 
          rgba(white, 0) 0, 
          rgba(white, .8) 50%, 
          rgba(white, 0) 100%
        ),                          //animation blur
        var(--title-skeleton),      //title
        var(--desc-line-skeleton),  //desc1
        var(--desc-line-skeleton),  //desc2
        var(--avatar-skeleton),     //avatar
        var(--footer-skeleton),     //footer bar
        var(--card-skeleton)        //card
      ;
  
      background-size:
        var(--blur-size),
        var(--title-width) var(--title-height),
        var(--desc-line-1-width) var(--desc-line-height),
        var(--desc-line-2-width) var(--desc-line-height),
        var(--avatar-size) var(--avatar-size),
        100% var(--footer-height),
        100% 100%
      ;
      
      background-position:
        -150% 0,                      //animation
        var(--title-position),        //title
        var(--desc-line-1-position),  //desc1
        var(--desc-line-2-position),  //desc2
        var(--avatar-position),       //avatar
        var(--footer-position),       //footer bar
        0 0                           //card
      ;
  
      background-repeat: no-repeat;
      animation: loading 1.5s infinite;
    }
  }
  
  @keyframes loading {
    to {
      background-position:
        350% 0,        
        var(--title-position),  
        var(--desc-line-1-position),
        var(--desc-line-2-position),
        var(--avatar-position),
        var(--footer-position),
        0 0
      ;
    }
  }