.advantages {
  padding-top: 80px;
  background: url(../img/advantages/BIT.png) no-repeat right;
  &__title {
    padding-left: 40px;
    margin-bottom: 30px;
  }
  &__logo {
    margin-right: 20px;
    & img {
      max-width: none;
    }
  }
  &__box {
    max-width: 1050px;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap: 20px;
  }
  &__card {
    display: flex;
    align-items: center;
    &-title {
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 8px;
    }
  }
}