.footer {
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: #F8F8F8;
  &__text {
    font-style: normal;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 10px;
    &--width {
      max-width: 270px;
      margin-top: 20px;
    }
  }
  &__link {
    font-style: normal;
    font-size: 16px;
    line-height: 140%;
    &:not(.footer__link:last-of-type) {
      margin-right: 20px;
    }
    &:hover {
      color: $blue;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  &__logo {
    margin-bottom: 20px;
  }
}