.main {
  padding-top: 180px;
  background: url(../img/main/bg.png) no-repeat right;
  background-position-x: 85%;
  &__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 110%;
    max-width: 500px;
    margin-bottom: 40px;
  }
  &__subtitle {
    font-size: 28px;
    line-height: 110%;
    margin-bottom: 25px;
  }
  &__pay {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    align-items: center;
    margin-bottom: 35px;
    &-card {
      background: $white;
      border: 1px solid $blue;
      border-radius: 5px;
      padding: 10px 15px;
    }
    &-card:not(.main__pay-card:nth-child(3n)) {
      margin-right: 20px;
    }
    &-card:nth-child(-n+3) {
      margin-bottom: 20px;
    }
  }
  &__text {
    font-weight: bold;
    font-size: 23px;
    line-height: 120%;
    margin-bottom: 10px;
  }
  &__form {
    background: #FFFFFF;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 20px;
    &-row {
      margin-bottom: 20px;
    }
    &-text {
      font-size: 13px;
      line-height: 17px;
    }
  }
  &__input {
    font-size: 16px;
    line-height: 120%;
    padding: 10px 20px;
    border: 1px solid #828282;
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    min-width: 240px;
  }
  &__support {
    padding: 10px 20px;
    background: #053978;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    align-items: center;
    max-width: 200px;
    &-text {
      font-weight: bold;
      font-size: 20px;
      line-height: 120%;
      color: $white;
    }
    &-img {
      margin-right: 15px;
    }
  }
  &__container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .input-group {
    margin-right: 10px;
  }
}
.burger {
  display: none;
  position: relative;
  width: 30px;
  height: 25px;
  flex-direction: column;
  justify-content: space-between;
  &__line {
    width: 100%;
    background-color: $blue;
    height: 3px;
  }
}