.we {
  background-color: #fff;
  padding-top: 30px;
  background: url(../img/we/bg.png) no-repeat center;
  position: relative;
  &__container {
    max-width: 1200px;
    margin: auto;
  }
  &__title {
    margin: auto;
    text-align: left;
    margin-bottom: 60px;
  }
  &__text {
    max-width: 380px;
    font-style: normal;
    font-size: 20px;
    line-height: 130%;
  }
  &__img {
    height: 205px;
    margin-bottom: 50px;
  }
  &__mobile-img{
    position: absolute;
    right: 0;
    top: 0;
  }
}